.jumbotron{
	margin-top: 0;
	margin-bottom: 30px;
	padding-top: 10px;

}
#logo{
	width: 100px;
	height: 100px;
	float: left;
}


#searchButton
{
	width: 200px;
	height: 40px;
	float: right;
	font-size: 16px;
	color: black;

}
#searchBox
{
  display: inline;
	padding-bottom: 20px;
  height : 20px;
	width: 1150px;
	text-align: left;
	font-size: 16px;
	padding-top: 20px;
	padding-left: 50px;
}
#logo
{


	float: left;
}
#search-logo
{
	width: 30px;
	height: 30px;
}
#heading
{

	text-align: center;
}

#right{
	float: right;
}
#left{
		display: block;
	padding-left: 100px;

}

#navbaar{
	height: 40px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: #333;
	}


	.active{
		color: #F1C40F;
		background-color: black;
	}
